body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search {
  position: relative;
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
}
.searchIcon {
  width: 10%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputRoot {
  position: absolute;
  width: 85%;
  height: 100%;
  right: 0px;
  color: inherit;
  margin-left: 10%;
}
.inputInput {
  width: 100%;
}
